<div class="recipes-container">
  <h2 class="section-title">Most Rated Recipes</h2>
  <div *ngIf="recipes$ | async as recipes">
    <div class="most-rated-recipes">
      <div *ngFor="let recipe of recipes.mostRatedRecipes" class="most-rated-recipe" mat-card>
        <img [src]="recipe.imageUrl" alt="{{ recipe.title }}" class="recipe-img" />
        <div class="recipe-info">
          <h3>{{ recipe.title }}</h3>
          <p>By {{ recipe.author }}</p>
          <p>⭐ {{ recipe.rating.averageRating || 0 }} ({{ recipe.rating.totalVotes || 0 }} votes)</p>
        </div>
      </div>
    </div>
  </div>

  <h2 class="section-title">All Recipes</h2>
  <div *ngIf="recipes$ | async as recipes">
    <div class="all-recipes">
      <ng-container *ngFor="let recipe of recipes.allRecipes">
        <div *ngIf="!recipes.mostRatedRecipes.includes(recipe)" class="recipe-card" mat-card>
          <img [src]="recipe.imageUrl" alt="{{ recipe.title }}" class="recipe-img" />
          <div class="recipe-info">
            <h3>{{ recipe.title }}</h3>
            <p>By {{ recipe.author }}</p>
            <p>⭐ {{ recipe.rating.averageRating || 0 }} ({{ recipe.rating.totalVotes || 0 }} votes)</p>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>