<mat-nav-list>
  <a mat-list-item (click)="onClose()" routerLink="/recipes">Recipes</a>
  <a mat-list-item *ngIf="auth.isAuthenticated" (click)="onClose()" routerLink="/meal-planner">Meal Planner</a>
  <a mat-list-item *ngIf="auth.isAuthenticated" (click)="onClose()" routerLink="/profile">Profile</a>
  <a mat-list-item *ngIf="!auth.isAuthenticated" (click)="onClose()" routerLink="/login">Login</a>
  <a mat-list-item *ngIf="!auth.isAuthenticated" (click)="onClose()" routerLink="/signup">SignUp</a>
  <a mat-list-item *ngIf="auth.isAuthenticated" (click)="logout()" (keydown.enter)="logout()" (keydown.space)="logout()"
    routerLink="/login">
    Logout
  </a>
</mat-nav-list>