<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onLogin(f)">
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" ngModel name="email" email required
        [disabled]="isLoading" />
      <mat-error>Email is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="6"
        #pwInput="ngModel" [disabled]="isLoading" />
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" type="submit" [disabled]="isLoading || f.invalid">LOGIN</button>
    </div>
    <!-- <div>
      <button color="accent" type="button" mat-raised-button routerLink="/signup">REGISTER</button>
    </div> -->
    <div *ngIf="isLoading" class="spinner">Loading...</div>
    <div *ngIf="error" class="error-message">{{ error }}</div>
  </form>
</section>