<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSignup(f)"
    novalidate>
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" ngModel name="email" email required [disabled]="isLoading">
      <mat-error>Email is invalid.</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 character long.">
      <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="6"
        #pwInput="ngModel" [disabled]="isLoading">
      <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="isLoading || f.invalid">REGISTER</button>
    <div *ngIf="isLoading" class="spinner">Loading...</div>
    <div *ngIf="error" class="error-message">{{ error }}</div>
  </form>
</section>