<div class="recipes-container">
  <h2 class="section-title">What To Cook This Week</h2>
  <div *ngIf="recipes$ | async as recipes">
    <div class="most-rated-recipes">
      <div *ngFor="let recipe of recipes.mostRatedRecipes" class="most-rated-recipe" mat-card>
        <a [routerLink]="['/recipes', recipe.id]" class="recipe-link">
          <img [src]="recipe.imageUrl" alt="{{ recipe.title }}" class="recipe-img" />
          <div
            matTooltip="Calories: {{ recipe.caloriesPerPortion }} | Protein: {{ recipe.proteinPerPortion }}g | Carbs: {{ recipe.carbsPerPortion }}g | Fats: {{ recipe.fatsPerPortion }}g"
            matTooltipPosition="above" matTooltipShowDelay="200" class="recipe-info">
            <h3>{{ recipe.title }}</h3>
            <p>By {{ recipe.author }}</p>
            <app-star-rating [rating]="recipe.rating.averageRating || 0"></app-star-rating>
          </div>
        </a>
      </div>
    </div>
  </div>

  <h2 class="section-title">Explore Healthy Recipes</h2>
  <div *ngIf="recipes$ | async as recipes">
    <div class="all-recipes">
      <ng-container *ngFor="let recipe of recipes.allRecipes">
        <div *ngIf="!recipes.mostRatedRecipes.includes(recipe)" class="recipe-card" mat-card>
          <a [routerLink]="['/recipes', recipe.id]" class="recipe-link">
            <img [src]="recipe.imageUrl" alt="{{ recipe.title }}" class="recipe-img" />
            <div
              matTooltip="Calories: {{ recipe.caloriesPerPortion }} | Protein: {{ recipe.proteinPerPortion }}g | Carbs: {{ recipe.carbsPerPortion }}g | Fats: {{ recipe.fatsPerPortion }}g"
              matTooltipPosition="above" matTooltipShowDelay="200" class="recipe-info">
              <h3>{{ recipe.title }}</h3>
              <p>By {{ recipe.author }}</p>
              <app-star-rating [rating]="recipe.rating.averageRating || 0"></app-star-rating>
            </div>
          </a>
        </div>
      </ng-container>
    </div>
  </div>
</div>